header.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
    display: flex;
    align-items: center;
    min-height: 97px;
    background: transparent;

    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1px;
        max-width: 1410px;
        width: 100%;
        margin: 0 auto;
        background: rgba(255, 255, 255, 0.05);
    }

    &.sticky {
        background: #595e9c;
    }
}

.header__logo {
    img {
        max-width: 166px;
    }
}


.header__nav>ul>li.header-btn {
    margin-right: 20px;
}
.header__nav>ul>li.header-btn a {
    border-radius: 16px;
    border: 2px solid #F3F4FB;
    background: transparent;
    font-weight: 600;
    font-size: 18px;
    font-family: "Lexend Deca", sans-serif;
    padding: 17px 30px;
    &::before{
        display: none;
    }
}
.header__nav>ul>li.header-btn a:hover {
    background: #fff;
    color: #595e9c;
}



.header__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &>ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        &>li {
            display: inline-block;
            margin-right: 40px;


            &.sublink {
                position: relative;


                &>a {
                    padding-right: 20px;

                    &::after {
                        content: '';
                        display: inline-block;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 20px;
                        height: 20px;
                        background: url('../img/svg/header-droparr.svg') no-repeat center / 100%;
                        transition: 0.3s;
                    }
                }



            }

            &:last-child {
                margin-right: 0;

                a {
                    border-radius: 16px;
                    border: 2px solid #FDC010;
                    font-weight: 600;
                    font-size: 18px;
                    font-family: 'Lexend Deca', sans-serif;
                    padding: 17px 30px;
                    color: #FDC010;

                    &:hover {
                        background: #FDC010;
                        color: #595e9c;
                    }

                    &::before {
                        display: none;
                    }
                }
            }

            &>a {
                color: #fff;
                line-height: 130%;
                text-decoration: none;
                transition: 0.3s;
                padding: 35px 0;
                display: inline-block;
            }
        }
    }


}

header.header {
    .burger {
        display: none;
    }

    .close-menu {
        display: none;
    }
}

// Header white

header {

    .header__nav>ul>li {
        &.active {
            a {
                font-weight: 600;

                &::before {
                    width: 100%;
                }
            }
        }

        &>a {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                bottom: -2px;
                width: 0;
                height: 2px;
                background: #fff;
                transition: 0.5s;
            }

            &:hover {
                &::before {
                    width: 100%;
                }
            }
        }

    }
}

header.header_white,
header.header_whitetg {
    background: #fff;
    z-index: 16;

    &::after {
        background: rgba(34, 34, 34, 0.05);
    }

    .header__nav>ul>li {
        &.active {
            a {
                font-weight: 600;

                &::before {
                    width: 100%;
                }
            }
        }

        &>a {
            color: #222;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                bottom: -2px;
                width: 0;
                height: 2px;
                background: #5E569B;
                transition: 0.5s;
            }

            &:hover {
                &::before {
                    width: 100%;
                }
            }
        }

    }

    .header__nav>ul>li.sublink>a {
        &::after {
            background: url(../img/svg/header-arrowblack.svg) no-repeat center/100%;
        }
    }

    .header__nav>ul>li:last-child a {
        border-color: #5E569B;
        color: #5E569B;

        &:hover {
            color: #fff;
            background: #5E569B;
        }
    }

    &.sticky {
        background: #fff;
        box-shadow: 0 0 10px #d5d5d5;
    }

    .burger img {
        width: 32px;
    }
}

// ----
header.header {
    .submenu {
        width: 100%;
        position: fixed;
        left: 0;
        top: 97px;
        display: none;

        .container {
            padding: 0 15px;
        }
    }

    .submenuwrap {
        background: #fff;
        box-shadow: 0px 24px 20px rgba(0, 0, 0, 0.08);
        border-radius: 0 0 15px 15px;
        padding: 60px 99px 12px 99px;
        display: flex;
        flex-wrap: wrap;

        .submenu-leftbox {
            width: 100%;
            max-width: 36%;
            flex: 0 0 36%;
            padding-right: 30px;

            .title {
                font-family: 'Lexend Deca', sans-serif;
                color: #222;
                font-size: 22px;
                line-height: 130%;
                margin-bottom: 15px;
            }

            p {
                margin-bottom: 20px;
                color: #222;
                font-size: 14px;
                line-height: 150%;
                max-width: 286px;
            }

            a {
                display: inline-block;
                padding: 10px 15px;
                border-radius: 5px;
                border: 1px solid #33A69C;
                color: #33A69C;
                font-size: 13px;
                font-weight: 300;
                font-family: 'Lexend Deca', sans-serif;
                line-height: 130%;
                text-decoration: none;
                transition: 0.3s;

                &:hover {
                    color: #fff;
                    background: #33A69C;
                }
            }
        }

        .submenu-rightbox {
            width: 100%;
            max-width: 64%;
            flex: 0 0 64%;

            .submenulinkbox {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                max-width: 570px;
                justify-content: space-between;

                .submenulink {
                    width: 100%;
                    max-width: 260px;
                    flex: 0 0 260px;
                }
            }
        }

        .submenulink {
            display: flex;
            text-decoration: none;
            margin-bottom: 35px;
            transition: 0.3s;

            &:hover {
                .submenulink__text .title {
                    color: #5E569B;
                }
            }

            .submenulink__icon {
                width: 100%;
                max-width: 45px;
                flex: 0 0 45px;
                height: 45px;

                img {
                    width: 100%;
                }
            }

            .submenulink__text {
                width: 100%;
                max-width: calc(100% - 45px);
                flex: 0 0 calc(100% - 45px);
                padding-left: 15px;

                p {
                    margin: 0;
                    color: #222;
                    font-size: 14px;
                    line-height: 130%;
                }

                .title {
                    margin-bottom: 10px;
                    font-size: 16px;
                    font-weight: 500;
                }
            }
        }
    }
}

.whhead {
    display: none;
}

.header.header_white,
header.header_whitetg {

    .whhead {
        display: inline-block;
    }

    .trhead {
        display: none;
    }
}

.menuoverlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.25);
    z-index: 15;
}

header.header .submenuwrap .submenulink .submenulink__text p:not(.title) {
    font-weight: 400;
}

// font-family: 'Lexend Deca', sans-serif;



@media(max-width:1500px) {
    .header__nav>ul>li {
        margin-right: 30px;
    }
}
@media(max-width:1399.8px) {
    .header__logo img {
        max-width: 140px;
    }
    .header__nav>ul>li.header-btn a {
        font-size: 16px;
        padding: 14px 20px;
        border-radius: 10px;
        border-width: 1px;
    }
    .header__nav>ul>li.header-btn {
        margin-right: 15px;
    }
    .header__nav>ul>li:last-child a {
        font-size: 16px;
        border-width: 1px;
        padding: 14px 20px;
        border-radius: 10px;
    }

    .header__nav>ul>li {
        margin-right: 20px;
    }

}

@media(max-width:1199.8px) {

    .header__nav>ul>li {
        margin-right: 20px;
    }

    .header__logo img {
        max-width: 150px;
    }

    .header__nav>ul>li>a {
        font-size: 15px;
    }

    header.header .submenuwrap {
        padding: 40px 50px 10px 50px;
    }

    header.header .submenuwrap .submenu-leftbox {
        max-width: 30%;
        flex: 0 0 30%;
    }

    header.header .submenuwrap .submenu-rightbox {
        max-width: 70%;
        flex: 0 0 70%;
    }


    header.header {
        .container {
            position: relative;
        }

        .burger {
            display: inline-block;
            background: transparent;
            border: none;
            padding: 0;
            outline: none;
            position: absolute;
            right: 12px;
            top: 4px;
            width: 40px;
            height: 40px;
        }
    }

    header.header .close-menu {
        display: inline-block;
        padding: 0;
        background: transparent;
        border: none;
        position: absolute;
        right: 30px;
        top: 30px;
        width: 32px;
        height: 32px;

        img {
            width: 100%;
        }
    }

    .header__nav {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        background: linear-gradient(60deg, #22A49C -6.98%, #5E579C 54.6%);
        z-index: 12;
        padding: 80px 40px 40px 40px;
        width: 100%;
        overflow: auto;
        transform: translateX(100%);
        transition: 0.5s;

        &.show {
            transform: translateX(0);
        }
    }

    .header__nav>ul>li {
        display: block;
        margin-bottom: 20px;
        margin-right: 0;

        a {
            display: block;
            font-size: 20px;
            font-weight: 500;
        }
    }

    .header__nav>ul>li.sublink>a:after {
        width: 30px;
        height: 30px;
    }

    .header__nav>ul>li:last-child {
        margin-top: 40px;

        a {
            border-width: 2px;
            font-size: 20px;
            text-align: center;
        }
    }

    .header__nav>ul>li>a {
        padding: 10px 0;
    }

    header .header__nav>ul>li>a:before {
        display: none;
    }

    header.header_white .header__nav>ul>li>a,
    header.header_whitetg .header__nav>ul>li>a {
        color: #fff;
    }

    header.header_white .header__nav>ul>li:last-child a,
    header.header_whitetg .header__nav>ul>li:last-child a {
        color: #fff;
        border-color: #fff;

        &:hover {
            background: #fff;
            color: #5E569B;
        }
    }

    header.header_white .header__nav>ul>li.sublink>a:after,
    header.header_whitetg .header__nav>ul>li.sublink>a:after {
        background: url(../img/svg/header-droparr.svg) no-repeat center/100%;
    }

    .menuoverlay {
        display: none !important;
    }

    header.header .submenu {
        position: relative;
        top: 0;

        .container {
            max-width: 100%;
            padding: 0;

        }
    }

    header.header .submenuwrap {
        background: transparent;
        box-shadow: none;
    }

    header.header .submenuwrap {
        padding: 20px 0 0 0;
    }

    header.header .submenuwrap .submenu-leftbox .title {
        display: none;
    }

    header.header .submenuwrap .submenu-leftbox p,
    header.header .submenuwrap .submenulink .submenulink__text .title,
    header.header .submenuwrap .submenulink .submenulink__text p {
        color: #fff;

    }

    header.header .submenuwrap .submenu-leftbox a {
        color: #fff;
        border-color: #fff;
    }

    header.header .submenuwrap .submenu-leftbox {
        max-width: 40%;
        flex: 0 0 40%;
    }

    header.header .submenuwrap .submenu-rightbox {
        max-width: 60%;
        flex: 0 0 60%;
    }

    header.header .submenuwrap .submenulink:hover .submenulink__text .title {
        color: #fff;
    }
    .header__nav>ul>li.header-btn {
        margin-right: 0px;
        
        a{
            font-size: 20px;
            border-width: 2px;
            text-align: center;
        }
    }
}

@media(max-width:991.8px) {



   




}

@media(max-width:767.8px) {

    header.header {
        min-height: 70px;
    }

    .header__logo img {
        max-width: 130px;
    }





}

@media(max-width:575.8px) {
    header.header .close-menu {
        width: 24px;
        height: 24px;
    }

    .header__nav>ul>li a {
        font-size: 18px;
        padding: 5px 0;
    }

    header.header .submenuwrap .submenu-leftbox,
    header.header .submenuwrap .submenu-rightbox {
        max-width: 100%;
        flex: 0 0 100%;
    }

    header.header .submenuwrap .submenu-leftbox {
        margin-bottom: 20px;
    }

    header.header .submenuwrap .submenu-rightbox .submenulinkbox .submenulink {
        margin-bottom: 20px;
    }


}