.platformwelcomesect.pricing {
    padding-bottom: 10px;

    img {
        margin-left: 33px;
        margin-bottom: 50px;
    }

    .imgwrap:after {
        background: linear-gradient(82deg, #1CA99A -1.48%, #5E569B 100%), #1CA99A;
    }
}

.pricingsect {
    padding: 100px 0 100px;
    position: relative;

    &+.trustedby {
        padding-top: 50px;
    }

    .pricingsect__circle1 {
        top: 0;
        left: -100px;
        position: absolute;
        width: 431px;
        animation: circlemove 4s 1s ease-in-out infinite;
    }

    .pricingsect__circle2 {
        position: absolute;
        bottom: -130px;
        right: -200px;
        z-index: 1;
        width: 454px;
        animation: circlemove 4s infinite;
    }

    &.bluesect {
        background: url(../img/platform-bg.png) no-repeat center bottom / 100% 100%;
    }

    &.whitesect {
        padding: 160px 0 50px;
    }
}

.pricingsect__head {
    margin: 0 auto 60px;
    max-width: 800px;
    text-align: center;
}

.pricingsect__title {
    margin-bottom: 35px;
    position: relative;
    z-index: 1;
}

.pricingsect__subtitle {
    color: #3B3838;
    font-size: 17px;
    line-height: 160%;
}

.pricingtable {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    z-index: 1;

    &.white {
        .pricingtable__row li {
            background-color: #fff;
        }
    }

    &.blue {
        .pricingtable__row li {
            background-color: #F2F6FB;
        }
    }
}

.pricingtable__row {
    padding: 0;
    margin-bottom: 6px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    align-items: stretch;
    height: auto;

    &:last-child {
        margin-bottom: 0;
    }

    li {
        height: auto;
        padding: 20px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F2F6FB;
        width: calc(25% - 7px);
        font-weight: 500;
        color: #3B3838;
        font-size: 17px;
        line-height: 140%;
        text-align: center;

        b {
            font-weight: 600;
        }

        span {
            font-weight: 400;
            font-size: 15px;
        }

        p {
            margin-bottom: 0;
        }

        &.onefield {
            width: 75%
        }
        &.twocol{
            width: 50%;
        }

        &.all-width-field {
            width: 100%;
            text-align: center!important;
            justify-content: center!important;
            b{
                font-weight: 700;
            }
        }

        .currency {
            width: 18px;
            height: 18px;
            background-size: cover;
            margin-right: 10px;
        }

        &:first-child {
            justify-content: flex-start;
            // align-items: flex-end;
            text-align: left;
            padding-left: 15px;
        }
    }

    &.pricingtable__head {
        font-weight: bold;
        border-radius: 10px 10px 0 0;
        font-size: 20px;
        line-height: 130%;
        overflow: hidden;

        li {
            color: #fff;

            &:first-child {
                justify-content: center;
            }

            img {
                width: 96px;
                background-size: cover;
            }
        }

        li:nth-child(2) {
            background-color: #1CA899;
        }

        li:nth-child(3) {
            background-color: #6751A2;
        }

        li:nth-child(4) {
            background-color: #FEC010;
        }
    }
}

.pricingtable__row-info {
    margin: auto 0 4px 5px;

    img {
        width: 20px;
        height: 20px;
        background-size: cover;
    }

    cursor: pointer;
    position: relative;

    &:hover {
        .pricingtable__row-tooltip {
            visibility: visible;
            z-index: 1;
            opacity: 1;
            transform: translate(0);
        }
    }
}

.pricingtable__row-tooltip {
    position: absolute;
    width: 312px;
    bottom: calc(100% + 10px);
    left: -30px;
    border-radius: 10px;
    background-color: #6851A2;
    padding: 7px;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transform: translateY(3px);
    transition: .4s;

    &:after {
        content: '';
        position: absolute;
        top: calc(100% - 1px);
        left: 30px;
        border: 10px solid transparent;
        border-top: 10px solid #6851A2;
    }

    p,
    a {
        font-size: 12px;
        font-weight: 500;
        line-height: 130%;
        color: #fff;
        margin: 0;
        text-align: left;
    }
}

.pricingsect__btn {
    margin: 60px auto 0;
    text-align: center;
}

.pricingtable__more-btn {
    position: absolute;
    bottom: -25px;
    left: calc(50% - 25px);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #6851A2;
    cursor: pointer;

    img {
        transition: .4s;
        margin: 2px 0 0;
        width: 20px;
        background-size: cover;
    }

    &.active {
        img {
            transform: rotate(180deg);
            margin: 0 0 2px;
        }
    }
}

.morecontent {
    display: none;
    margin-bottom: 20px;
}


.pricingsect__pricelist {
    margin-top: 190px;
}

.pricingtable__name {
    width: 75%;
    height: 70px;
    margin: 0 0 6px auto;
    background: #E1EBF6;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        color: #6851A2;
        font-size: 20px;
        font-weight: 600;
        line-height: 130%;
        margin: 0;
    }

    img {
        width: 25px;
        height: 25px;
        background-size: cover;
        margin-right: 10px;
    }
}

.pricingtable__tabs {
    display: inline-flex;
    list-style: none;
    background-color: #fff;
    border-radius: 40px;
    padding: 7px;
    margin: 0;

    li {
        color: #6851A2;
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
        padding: 12px 20px;
        cursor: pointer;
        transition: .3s;
        border-radius: 40px;

        &.active {
            color: #fff;
            background-color: #6851A2;
        }

        &+li {
            margin-left: 10px;
        }
    }
}

.tab-content {
    display: none;

    &.mountly {
        display: block;
    }
}


//  popup --- //
.modal-dialog {
    max-width: 701px;
    margin: 1.75rem auto;
}

.pricing-popup .modal-content {
    background-color: #fff;
    border-radius: 10px;
    padding: 70px 55px 105px;

    .close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        border: none;
        padding: 0;
        background-color: transparent;

        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
    }

    .modal-body {
        padding: 0;
    }
}

.pricing-popup__head {
    text-align: center;
    margin-bottom: 45px;

    .title {
        color: #222222;
        margin-bottom: 35px;
        font-weight: 700;
        font-size: 35px;
        line-height: 130%;
        font-family: 'Lexend Deca', sans-serif;
    }

    .subtitle {
        font-size: 17px;
        color: #3B3838;
        line-height: 160%;
    }
}

.pricing-popup__form {

    form {
        max-width: 460px;
        margin: 0 auto;
        width: 100%;
    }


    .input-field {
        width: 100%;
    }

    .input-field input {
        border: none;
        padding: 13px 15px;
        background-color: #EFF4FA;
        border-radius: 5px;
        font-size: 15px;
        color: #222222;
        margin-bottom: 15px;
        width: 100%;
        height: 50px;
        outline: none;

        &::placeholder {
            color: #222222;
            transition: .3s;
        }

        &:focus {
            border: none;

            &::placeholder {
                opacity: 0;
            }
        }
    }


    .input-field .select2 {
        margin-bottom: 15px;
        width: 100% !important;

        .select2-selection--single {
            height: 50px;
            padding: 13px 15px;
            background-color: #EFF4FA;
            border: none;
            border-radius: 5px;
        }

        .select2-selection--single .select2-selection__arrow b {
            display: none;
        }

        .select2-selection--single .select2-selection__arrow {
            background-image: url(../img/pricing/arrow-select.png);
            top: 15px;
            right: 15px;
            width: 20px;
            height: 20px;
            background-size: cover;
        }
    }

    .formbtn {
        margin-top: 30px;
        border: none;
        width: 100%;
    }
}

.select2-dropdown {
    z-index: 9999 !important;
}




// pricingcontact section ---- //

.pricingcontact {
    position: relative;
    padding-top: 30px;

    .background {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: -1;
    }
}

.pricingcontact__title {
    margin-bottom: 90px;
}

.pricingcontact__inner {
    display: flex;
}

.pricingcontact__meeting {
    margin-right: 140px;

    .name {
        margin-bottom: 5px;
        font-weight: 600;
        line-height: 160%;
        font-size: 25px;
        color: #3B3838;
    }

    .position {
        font-weight: 500;
        font-size: 20px;
        line-height: 160%;
        color: #3B3838;
        margin-bottom: 25px;
    }
}

.pricingcontact__info {
    .title {
        color: #3B3838;
        margin-bottom: 30px;
        font-size: 18px;
        line-height: 160%;
        font-weight: 600;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        display: flex;

        img {
            width: 25px;
            height: 25px;
            margin-right: 10px;
        }

        a {
            color: #3B3838;
            line-height: 160%;
            font-weight: 500;
            font-size: 16px;
            transition: 0.3s;
            text-decoration: none;

            &:hover {
                color: #5e569b;
            }
        }

        &+li {
            margin-top: 25px;
        }
    }
}

.pricingcontact__image {
    position: relative;
    z-index: 2;
    padding-left: 65px;
    padding-bottom: 40px;
    display: flex;
    align-items: flex-end;
    height: 100%;
}


// ADAPTIVE


@media (max-width: 1599.8px) {
    .pricingcontact__image {
        padding-left: 50px;
        padding-bottom: 0px;

        img {
            max-width: 500px;
            width: 100%;
        }
    }

    .pricingcontact__meeting {
        margin-right: 100px;
    }
}

@media (max-width: 1399.8px) {
    .pricingcontact__title {
        margin-bottom: 50px;
    }

    .pricingcontact {
        padding-bottom: 60px;
    }

    .pricingsect {
        padding: 60px 0 70px;
    }

    .pricingsect__pricelist {
        margin-top: 160px;
    }

    .pricingcontact__image {
        padding-left: 0;
        width: 100%;
    }
}

@media (max-width: 1199.8px) {
    .pricingsect__head {
        margin: 0px auto 45px;
    }

    .pricingsect .pricingsect__circle1 {
        left: -70px;
        width: 300px;
    }

    .pricingsect .pricingsect__circle2 {
        bottom: -50px;
        right: -150px;
        width: 300px;
    }

    .pricingsect.whitesect {
        padding: 120px 0 50px;
    }

    .pricingcontact__inner {
        padding-bottom: 130px;
    }

    .pricingsect {
        padding: 60px 0 60px;
    }

    .pricingtable__row li {
        font-size: 15px;
    }
}

@media (max-width: 991.8px) {
    .pricingsect.whitesect {
        padding: 60px 0 50px;
    }

    .pricingsect__btn {
        margin: 60px auto 0;
    }

    .pricingtable__name {
        margin: 0 0 3px auto;
    }

    .pricingtable__row {
        margin-bottom: 3px;
    }

    .pricingtable__row li {
        width: calc(25% - 3px);
    }

    .pricingsect__pricelist {
        margin-top: 100px;
    }

    .pricingtable__more-btn {
        bottom: -20px;
        left: calc(50% - 20px);
        width: 44px;
        height: 44px;
    }

    .pricingtable__more-btn img {
        width: 18px;
    }

    .pricingtable__row {
        min-height: 65px;
    }

    .pricingtable__row-info {
        margin: auto 0 13px 5px;
    }

    .pricingtable__row.pricingtable__head li img {
        width: 85px;
    }

    .pricingtable__row li {
        font-size: 14px;
    }

    .pricingtable__row li {
        padding: 10px 10px;
    }

    .pricingcontact__image img {
        max-width: 350px;
        margin: 0 auto;
    }

    .pricingcontact {
        padding-bottom: 0;
    }
}

@media (max-width: 767.8px) {
    .pricingcontact__inner {
        padding-bottom: 80px;
    }

    .pricingcontact__inner {
        flex-wrap: wrap;
    }

    .pricingcontact__meeting {
        margin: 0 0 50px;
        width: 100%;
    }

    .pricingcontact__info {
        width: 100%;
    }

    .pricingsect__pricelist {
        margin-top: 70px;
    }

    .pricingtable__more-btn {
        bottom: 10px;
    }
    .pricingtable__more-btn.active {
        transition: .3s;
        bottom: 25px;
    }

    .pricingtable__row li {
        font-size: 16px;
    }

    .pricingtable__name {
        width: 600px;
        margin-left: 200px;
    }

    .pricingtable__row {
        min-height: 65px;
        width: 800px;
    }

    .pricingtable {
        overflow-x: scroll;
        overflow-y: hidden;
        padding-bottom: 30px;
    }
}

@media (max-width: 575.8px) {
    .pricingsect {
        padding: 70px 0 25px;
    }

    .platformwelcomesect.pricing img {
        margin-bottom: 0;
    }

    .pricing-popup .modal-content {
        padding: 70px 20px 60px;
    }

    .pricing-popup__head .title {
        margin-bottom: 20px;
        font-size: 28px;
    }

    .pricing-popup__head .subtitle {
        font-size: 14px;
    }

    .pricingsect+.trustedby {
        padding-top: 0;
    }

    .pricingsect .pricingsect__circle2 {
        right: -100px;
        width: 250px;
    }

    .pricingsect__subtitle {
        font-size: 15px;
    }

    .pricingsect__title {
        margin-bottom: 25px;
    }

}

@media (max-width: 425px) {
    .pricingsect__btn {
        margin: 45px auto 0;
    }

    .pricingtable__tabs {
        flex-wrap: wrap;

        li {
            width: 100%;
        }
    }

    .pricingtable__tabs li+li {
        margin: 15px 0 0;
    }
}