.platformwelcomesect.manufacturing {
    padding-top: 40px;

    img {
        margin-left: 33px;
    }

    .imgwrap:after {
        background: linear-gradient(82deg, #1CA99A -1.48%, #5E569B 100%), #1CA99A;
    }
}

.aboutplatform.manufacturing {
    .subsecttitle {
        max-width: 935px;
        margin: 0 auto 97px;
    }

    .yellowbtn {
        margin-top: 10px;
    }

    .tyowct-title {
        color: #222;
        font-size: 17px;
        font-weight: 600;
        line-height: 150%;
        margin-bottom: 15px;
    }

    .tyowct-descr {
        color: #3B3838;
        font-size: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.aboutmanufwrap {
    max-width: 1245px;
    margin: 0 auto;
}

.trustedby.manufacturing {
    .getstartedsect {
        margin-top: 80px;
        padding-bottom: 60px;

        p {
            max-width: 935px;
            margin: 0 auto 40px;
        }
    }
}

.platformwelcomesect.manufacturing img {
    max-width: 100%;
}

@media(max-width:991.8px) {

    .aboutplatform.manufacturing .subsecttitle {
        margin-bottom: 60px;
    }

    .aboutplatform.manufacturing .tyowct-title {
        font-size: 20px;
        margin-bottom: 5px;
    }
    
    .aboutplatformbox {
        margin-bottom: 30px;
    }

    .trustedby.manufacturing .getstartedsect {
        margin-top: 20px;
    }
}

@media(max-width:575.8px) {
    .platformwelcomesect.manufacturing .leftbock {
        padding-top: 0;
    }

    .aboutplatform.manufacturing .tyowct-title {
        font-size: 18px;
    }

    .trustedby.manufacturing {
        padding-top: 60px;
    }



    .aboutplatform,
    .getstartedsect  {
        .yellowbtn {
            width: 100%;
        }
    }
}